In [3]:
import pandas as pd

In [4]:
dados_vendas = ('train.csv')
pd.read_csv(dados_vendas)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [5]:
# ler o CSV em um DataFrame e verificar nulos
dados = pd.read_csv(dados_vendas)
null_counts = dados.isnull().sum()
print(null_counts)                # nulos por coluna
print('Total nulos:', int(null_counts.sum()))  # total de nulos
print('Há nulos?', null_counts.sum() > 0)      # True/False

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64
Total nulos: 11
Há nulos? True

In [6]:
df = pd.read_csv('train.csv')
ha_duplicados = df.duplicated().any()

duplicatas = df[df.duplicated(keep=False)]
print(duplicatas)
total_duplicatas = df.duplicated().sum()

print(f"Total de linhas duplicadas: {total_duplicatas}")

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales]
Index: []
Total de linhas duplicadas: 0

In [7]:
df = pd.read_csv('train.csv')
tem_negativos = df[df['Sales'] < 0]
print(f"Valores Negativos: {tem_negativos}")

Valores Negativos: Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales]
Index: []

Dados Incoerentes (Ship Date antes de Order Date)

In [8]:
dados_incoerentes = df[df['Ship Date'] < df['Order Date']]
print(dados_incoerentes)
#

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
18        19  CA-2015-143336  27/08/2015  01/09/2015    Second Class
19        20  CA-2015-143336  27/08/2015  01/09/2015    Second Class
20        21  CA-2015-143336  27/08/2015  01/09/2015    Second Class
66        67  US-2016-164175  30/04/2016  05/05/2016  Standard Class
72        73  US-2016-134026  26/04/2016  02/05/2016  Standard Class
...      ...             ...         ...         ...             ...
9784    9785  CA-2016-149748  31/05/2016  02/06/2016    Second Class
9787    9788  CA-2018-144491  27/03/2018  01/04/2018  Standard Class
9788    9789  CA-2018-144491  27/03/2018  01/04/2018  Standard Class
9789    9790  CA-2018-144491  27/03/2018  01/04/2018  Standard Class
9790    9791  CA-2018-144491  27/03/2018  01/04/2018  Standard Class

     Customer ID       Customer Name      Segment        Country  \
18      ZD-21925  Zuschuss Donatelli     Consumer  United States
19      ZD-21925  Zuschuss Donatelli     Consumer  United States
20      ZD-21925  Zuschuss Donatelli     Consumer  United States
66      PS-18970      Paul Stevenson  Home Office  United States
72      JE-15745          Joel Eaton     Consumer  United States
...          ...                 ...          ...            ...
9784    EM-13825   Elizabeth Moffitt    Corporate  United States
9787    CJ-12010     Caroline Jumper     Consumer  United States
9788    CJ-12010     Caroline Jumper     Consumer  United States
9789    CJ-12010     Caroline Jumper     Consumer  United States
9790    CJ-12010     Caroline Jumper     Consumer  United States

               City       State  Postal Code   Region       Product ID  \
18    San Francisco  California      94109.0     West  OFF-AR-10003056
19    San Francisco  California      94109.0     West  TEC-PH-10001949
20    San Francisco  California      94109.0     West  OFF-BI-10002215
66          Chicago    Illinois      60610.0  Central  FUR-CH-10001146
72          Memphis   Tennessee      38109.0    South  FUR-CH-10000513
...             ...         ...          ...      ...              ...
9784       Paterson  New Jersey       7501.0     East  FUR-FU-10001847
9787        Houston       Texas      77070.0  Central  FUR-BO-10001811
9788        Houston       Texas      77070.0  Central  FUR-CH-10004063
9789        Houston       Texas      77070.0  Central  TEC-AC-10004901
9790        Houston       Texas      77070.0  Central  FUR-CH-10001714

             Category Sub-Category  \
18    Office Supplies          Art
19         Technology       Phones
20    Office Supplies      Binders
66          Furniture       Chairs
72          Furniture       Chairs
...               ...          ...
9784        Furniture  Furnishings
9787        Furniture    Bookcases
9788        Furniture       Chairs
9789       Technology  Accessories
9790        Furniture       Chairs

                                           Product Name     Sales
18                                           Newell 341     8.560
19                              Cisco SPA 501G IP Phone   213.480
20          Wilson Jones Hanging View Binder, White, 1"    22.720
66          Global Value Mid-Back Manager's Chair, Gray   213.115
72                    High-Back Leather Manager's Chair   831.936
...                                                 ...       ...
9784          Eldon Image Series Black Desk Accessories     8.280
9787  Atlantic Metals Mobile 5-Shelf Bookcases, Cust...  1023.332
9788            Global Deluxe High-Back Manager's Chair   600.558
9789  Kensington SlimBlade Notebook Wireless Mouse w...    39.992
9790     Global Leather & Oak Executive Chair, Burgundy   211.246

[1139 rows x 18 columns]

Corrigindo datas usando dayfirst=True

In [9]:
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True)
df['Ship Date'] = pd.to_datetime(df['Ship Date'], dayfirst=True)

dados_incoerentes_apos_correcao = df[df['Ship Date'] < df['Order Date']]
print("Dados incoerentes após correção:")
print(dados_incoerentes_apos_correcao)

Dados incoerentes após correção:
Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales]
Index: []

In [10]:
dados_incoerentes = df[df['Ship Date'] < df['Order Date']]
print(dados_incoerentes)

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales]
Index: []

Criando Colunas (Ano, Mês e Tempo de Entrega)

In [11]:
ano = df['Order Date'].dt.year
mes = df['Order Date'].dt.month
tempo_entrega = df['Ship Date'] - df['Order Date']

Receita Total: A receita total no período analisado foi de $2.261.536,79

In [12]:
receita_total = df['Sales'].sum()
print(f"Receita Total: ${receita_total}")

Receita Total: $2261536.7827000003

Número de Pedidos: Quantos Pedidos foram realizados?

In [13]:
numero_de_pedidos = df['Order ID'].nunique()
print(f"Número de Pedidos: {numero_de_pedidos}")

Número de Pedidos: 4922

Ticket Médio $459.48

In [14]:
ticket_medio = receita_total / numero_de_pedidos
print(f"Ticket Médio: ${ticket_medio}")
#

Ticket Médio: $459.4751691791955

BLOCO 2 - MÉTRICAS TEMPORAIS

Receita por Ano

In [15]:
receita_por_ano = df.groupby(df['Order Date'].dt.year)['Sales'].sum()
print(receita_por_ano)
#

Order Date
2015    479856.2081
2016    459436.0054
2017    600192.5500
2018    722052.0192
Name: Sales, dtype: float64

Receita por Mês (Análise de Sazonalidade)

In [16]:
receita_por_mes = df.groupby(df['Order Date'].dt.month)['Sales'].sum()
print(receita_por_mes)

Order Date
1      94291.6296
2      59371.1154
3     197573.5872
4     136283.0006
5     154086.7237
6     145837.5233
7     145535.6890
8     157315.9270
9     300103.4117
10    199496.2947
11    350161.7110
12    321480.1695
Name: Sales, dtype: float64

BLOCO 3: PERFORMANCE POR LOCALIZAÇÃO

Receita por Região

In [17]:
receita_por_regiao = df.groupby('Region')['Sales'].sum()
print(receita_por_regiao)
#

Region
Central    492646.9132
East       669518.7260
South      389151.4590
West       710219.6845
Name: Sales, dtype: float64

Receita por Estado

In [18]:
receita_por_estado = df.groupby('State')['Sales'].sum()
print(receita_por_estado)
#

State
Alabama                  19510.6400
Arizona                  35272.6570
Arkansas                 11678.1300
California              446306.4635
Colorado                 31841.5980
Connecticut              13384.3570
Delaware                 27322.9990
District of Columbia      2865.0200
Florida                  88436.5320
Georgia                  48219.1100
Idaho                     4382.4860
Illinois                 79236.5170
Indiana                  48718.4000
Iowa                      4443.5600
Kansas                    2914.3100
Kentucky                 36458.3900
Louisiana                 9131.0500
Maine                     1270.5300
Maryland                 23705.5230
Massachusetts            28634.4340
Michigan                 76136.0740
Minnesota                29863.1500
Mississippi              10771.3400
Missouri                 22205.1500
Montana                   5589.3520
Nebraska                  7464.9300
Nevada                   16729.1020
New Hampshire             7292.5240
New Jersey               34610.9720
New Mexico                4783.5220
New York                306361.1470
North Carolina           55165.9640
North Dakota               919.9100
Ohio                     75130.3500
Oklahoma                 19683.3900
Oregon                   17284.4620
Pennsylvania            116276.6500
Rhode Island             22525.0260
South Carolina            8481.7100
South Dakota              1315.5600
Tennessee                30661.8730
Texas                   168572.5322
Utah                     11220.0560
Vermont                   8929.3700
Virginia                 70636.7200
Washington              135206.8500
West Virginia             1209.8240
Wisconsin                31173.4300
Wyoming                   1603.1360
Name: Sales, dtype: float64

Bloco 4: Produtos

Receita por Categoria

In [19]:
receita_por_categoria = df.groupby('Category')['Sales'].sum()
print(receita_por_categoria)
#

Category
Furniture          728658.5757
Office Supplies    705422.3340
Technology         827455.8730
Name: Sales, dtype: float64

Top 10 Produtos por Receita

In [20]:
produtos_mais_lucrativos = df.groupby('Product Name')['Sales'].sum().nlargest(10)
print(produtos_mais_lucrativos)
#

Product Name
Canon imageCLASS 2200 Advanced Copier                                          61599.824
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    27453.384
Cisco TelePresence System EX90 Videoconferencing Unit                          22638.480
HON 5400 Series Task Chairs for Big and Tall                                   21870.576
GBC DocuBind TL300 Electric Binding System                                     19823.479
GBC Ibimaster 500 Manual ProClick Binding System                               19024.500
Hewlett Packard LaserJet 3310 Copier                                           18839.686
HP Designjet T520 Inkjet Large Format Printer - 24" Color                      18374.895
GBC DocuBind P400 Electric Binding System                                      17965.068
High Speed Automatic Electric Letter Opener                                    17030.312
Name: Sales, dtype: float64

Receita por Subcategoria

In [21]:
subcategorias_mais_lucrativas = df.groupby('Sub-Category')['Sales'].sum().nlargest(10)
print(subcategorias_mais_lucrativas)
#

Sub-Category
Phones         327782.4480
Chairs         322822.7310
Storage        219343.3920
Tables         202810.6280
Binders        200028.7850
Machines       189238.6310
Accessories    164186.7000
Copiers        146248.0940
Bookcases      113813.1987
Appliances     104618.4030
Name: Sales, dtype: float64

Bloco 5: Seguimento de Cliente

Receita por Segmento

In [22]:
receita_por_seguimento = df.groupby('Segment')['Sales'].sum()
print(receita_por_seguimento)
#

Segment
Consumer       1.148061e+06
Corporate      6.884941e+05
Home Office    4.249822e+05
Name: Sales, dtype: float64

Receita por Ano:

In [23]:
receita_por_ano.pct_change() * 100

Order Date
2015          NaN
2016    -4.255484
2017    30.636812
2018    20.303396
Name: Sales, dtype: float64

Analise de Clientes

In [24]:
df.groupby('Customer Name')['Sales'].sum().sort_values(ascending=False)

Customer Name
Sean Miller        25043.050
Tamara Chand       19052.218
Raymond Buch       15117.339
Tom Ashbrook       14595.620
Adrian Barton      14473.571
                     ...
Mitch Gastineau       16.739
Carl Jackson          16.520
Sung Chung            14.112
Lela Donovan           5.304
Thais Sissman          4.833
Name: Sales, Length: 793, dtype: float64